*{
    margin: 0;
    box-sizing: border-box;
}

body{
   
    background-color:  rgb(245, 245, 245);
    font-family: poppinsregular;
    min-height: 100vh;
    position: relative;
    background-image: url('../components/img/layoutRed.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%; 
    
    
}
 
  .form-field{
      margin-bottom: 10px;
     
  }
  
  h1{
    color:white;
    text-align: center;
    margin-left: 5px;
    margin-right: 20px;
    
  }
  
  .header{
   
    position: fixed;
    width: 90%;
    text-align: center;
    background-image: url('../components/img/layoutBlue.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 10%;  
    border-radius: 100px;
    margin-top: 10px;
    margin-left: 65px; 
}
  
  #login0{
  
     background: rgb(64, 64, 64);
     
     color: white;
     font-size: 20px;

     position: fixed;

     margin: 13%;
     margin-left: 35%;
     margin-right: 100%;

     padding-left: 40px;
     padding-right: 90px;
     
     opacity : 0.9;

     display: flex;
     justify-content:center;
     align-items: center;
     border-radius: 10px;
  }

#backgroundR{
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 35px;  
}

#login0 img { 
    opacity : 0.6; 
}
  
  .centralize{
  
      display: flex ;
     
  }
  
  input{
      padding: 10px;
      margin-bottom: 10px;
  }

  .error{
      color: white;
      background: rgb(228, 41, 41);
      display: none;
    
  }
  
  .clear{
      background-color: transparent;
      color: white;
      border: 1px solid white;
      border: none;
      padding: 10px;
      margin-bottom: 10px;
      cursor: pointer;
      width: -webkit-fill-available;
  }
  
  .loading{
      background: rgb(0, 0, 0, 0.5);
      position: fixed;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .loading label{
      font-size: 24px;
  }
  
  button:active{
      opacity: 0.8;
  }
  
   button[disabled]{
      opacity: 0.7;
  }
  
  .solid{
      background-color: white;
      color: black;
      border: none;
      padding: 10px;
      margin-bottom: 10px;
      cursor: pointer;
      width: -webkit-fill-available;
  }
  
  .outline{
      background-color: transparent;
      color: white;
      border: 1px solid white;
      padding: 10px;
      margin-bottom: 10px;
      cursor: pointer;
      width: -webkit-fill-available;
  }
  
  
  .social {
	
    color: white;
    text-align: center;
    background-image: url('../components/img/layoutBlue.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%; 
    border-radius: 600px;
    
}

.social img{
    max-width:70px;
    max-height:140px;
    width: auto;
    height: auto;  
}

.rodape{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7.9rem
}



@media (max-width: 1880px) {
    body{
      
        background-image: url('../components/img/layoutBlue.jpg');
       
    }

    .header{
   
        position: fixed;
        width: 90%;
        text-align: center;
        background-image: url('../components/img/layoutRed.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 10%;  
        border-radius: 100px;
        margin-top: 10px;
        margin-left: 65px; 
    }
    
    #login0{

       margin-left: 600px;
       margin-top: 150px;
       border-radius: 50px;
   
       
   
   }

   #backgroundL{
    width: auto;
    height: auto; 
   }
    

   .social {
	
    color: white;
    text-align: center;
    background-image: url('../components/img/layoutRed.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%; 
    border-radius: 600px;
    
}
    
    
}


@media (max-width: 1708px) {
    body{
      
        background-image: url('../components/img/layoutBlue.jpg');
       
    }

    .header{
   
        position: fixed;
        width: 90%;
        text-align: center;
        background-image: url('../components/img/layoutRed.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 10%;  
        border-radius: 100px;
        margin-top: 10px;
        margin-left: 65px; 
    }
    
    #login0{

       margin-left: 465px;
      
   }

   #backgroundL{
    width: auto;
    height: auto; 
   }
    

   .social {
	
    color: white;
    text-align: center;
    background-image: url('../components/img/layoutRed.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%; 
    border-radius: 600px;
    
}
    
    
}




@media (max-width: 1366px) {
    body{
      
        background-image: url('../components/img/layoutBlue.jpg');
       
    }

    .header{
   
        position: fixed;
        width: 90%;
        text-align: center;
        background-image: url('../components/img/layoutRed.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 10%;  
        border-radius: 100px;
        margin-top: 10px;
        margin-left: 65px; 
    }
    
    #login0{
     
        margin-left: 365px;
    }

   #backgroundL{
    width: auto;
    height: auto; 
   }
    
    
    
}

@media (max-width: 1026px) {
    body{
      
        background-image: url('../components/img/layoutBlue.jpg');
       
    }

    .header{
   
        position: fixed;
        width: 90%;
        text-align: center;
        background-image: url('../components/img/layoutRed.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 10%;  
        border-radius: 100px;
        margin-top: 10px;
        margin-left: 65px; 
    }
    
    #login0{
     
        margin-left: 265px;
        
    }

   #backgroundR{
        display:block;
   }
    
    
    
}

@media (max-width: 940px) {
    body{
      
        background-image: url('../components/img/layoutBlue.jpg');
       
    }

    .header{
   
        position: fixed;
        width: 90%;
        text-align: center;
        background-image: url('../components/img/layoutRed.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 10%;  
        border-radius: 100px;
        margin-top: 10px;
        margin-left: 65px; 
    }
    
    #login0{
     
        margin-left: 165px;
        margin: 150px;
    }

   #backgroundR{
        display:block;
   }
    
    
    
}

@media (max-width: 768px) {
    body{
      
        background-image: url('../components/img/layoutBlue.jpg');
       
    }

   
    
    #login0{
      
        margin-left: 65px;
   }

   #backgroundL{
    width: auto;
    height: auto; 
   }
    
    
    
}

@media (max-width: 580px) {
    body{
      
        background-image: url('../components/img/layoutBlue.jpg');
       
    }

    .header{
   
        position: fixed;
        width: 90%;
        text-align: center;
        
        border-radius: 100px;
        margin-top: 10px;
        margin-left: 35px; 
    }
    
    #login0{
     
        margin-left: 55px;
        padding-right: 30px;
        padding-left: 30px;
   }

   #backgroundR{
        display: none;
   }
    
   .social p{
        display: none; 
   }

   .rodape{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4.8rem
}
    
}
















